@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Manrope:wght@500&family=Montserrat:wght@400;500&family=Unbounded:wght@300;500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Montserrat", cursive;
  background-color: #ffffff;
  color: #6F767E;
  font-size: 16px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1255px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  width: 121px;
  background-color: #3E8BF3;
  color: #ffffff;
  height: 48px;
  border-radius: 8px;
}

.hr {
  background-color: #D9D9D9;
  width: 1224px;
  height: 1px;
  margin: 0 auto;
  margin-top: 70px;
}

.header {
  min-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top .header__top-left {
  width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top .header__top-right {
  width: 261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top .language {
  width: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top .logo {
  width: 129px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top a {
  color: #6F767E;
  font-weight: 300;
}
.header__top .header_hr {
  width: 1px;
  height: 48px;
  background-color: #6F767E;
}
.header__top nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 552px;
}
.header__top .down-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 812px;
  background-color: #F5F9FE;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.header__content .header__content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 368px;
  width: 522px;
  margin: auto 0px;
}
.header__content h1 {
  font-size: 56px;
  text-align: justify;
  line-height: 72px;
  font-weight: 500;
  color: #000000;
}
.header__content .header__content-left__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 275px;
}
.header__content .scroll__down {
  width: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 764px;
  left: 24px;
  font-size: 12px;
}
.header__content .social {
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 764px;
  left: 1160px;
  font-size: 12px;
}
.header__content img[alt=scroll] {
  width: 24px;
  height: 24px;
  text-align: center;
}
.header__content .social__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
}

.about {
  margin: 100px auto;
  height: 313px;
}
.about .title {
  font-size: 46px;
  font-weight: 500;
  line-height: 56px;
  width: 554px;
  color: #000000;
}
.about .about__text {
  width: 496px;
  line-height: 32px;
  font-weight: 500;
}
.about .about_hr {
  background-color: #D9D9D9;
  width: 1224px;
  height: 1px;
  margin: 0 auto;
  margin-top: 100px;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 705px;
}
.steps .steps__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1224px;
}
.steps .title {
  font-size: 46px;
  font-weight: 500;
  line-height: 56px;
  width: 452px;
  color: #000000;
}
.steps .steps__button {
  width: 169px;
  height: 56px;
  background-color: #3E8BF3;
  border-radius: 8px;
  color: #ffffff;
}
.steps .steps__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1224px;
  margin-top: 50px;
}
.steps .steps__content-block {
  width: 392px;
  height: 424px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.steps .first__step,
.steps .second__step,
.steps .third__step {
  width: 74px;
  height: 32px;
  border-radius: 24px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
}
.steps .first__step {
  background-color: #6F767E;
}
.steps .second__step {
  background-color: #C0E1EE;
}
.steps .third__step {
  background-color: #D0E5C2;
}
.steps .steps__title {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
.steps .steps__subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #6F767E;
}
.steps .steps__content-block__text {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.steps .image {
  height: 240px;
}
.steps hr {
  background-color: #D9D9D9;
  width: 1224px;
  height: 1px;
  margin: 0 auto;
  margin-top: 100px;
}

.countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1224px;
  height: 689px;
  margin-top: 100px;
}
.countries .countries__menu {
  width: 157px;
  height: 248px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F5F9FE;
  border-radius: 16px;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
}
.countries .country__name {
  width: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.countries p {
  width: 56px;
}
.countries img[alt=map] {
  width: 1008px;
  height: 568px;
}
.countries hr {
  background-color: #D9D9D9;
  width: 1224px;
  height: 1px;
  margin: 0 auto;
  margin-top: 100px;
}

.text__container {
  width: 452px;
  height: 256px;
  position: absolute;
  top: 2590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.text__container .country__btn {
  width: 259px;
  height: 56px;
  background-color: #F5F9FE;
  font-weight: 500;
  border-radius: 8px;
  color: #6F767E;
}
.text__container .btn__country {
  height: 56px;
  width: 148px;
  background-color: #3E8BF3;
  border-radius: 8px;
  color: #ffffff;
}
.text__container h1 {
  font-size: 44px;
  font-weight: 500;
  color: #000000;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1225px;
  margin-top: 100px;
}
.faq .left__container {
  width: 392px;
  height: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.faq .title {
  font-size: 48px;
  font-weight: 500;
  color: #000000;
}
.faq .subtitle {
  width: 222px;
}
.faq .accordion {
  width: 808px;
  height: 584Ð«px;
}
.faq .right__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq .right__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #D9D9D9;
}
.faq details > summary {
  list-style: none;
}
.faq summary::-webkit-details-marker {
  display: none;
}
.faq .accordion__item {
  position: relative;
  border-bottom: 1px solid #D9D9D9;
  padding: 24px;
}
.faq .accordion__title {
  font-size: 24px;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.faq .accordion__title::after {
  display: block;
  content: "+";
  font-size: 24px;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.faq .accordion__item:hover {
  background-color: #F5F9FE;
}
.faq .accordion__item:not([open]):last-child .accordion__title {
  border: none;
}
.faq .accordion__item[open] .accordion__title::after {
  content: "-";
}
.faq .accordion__body {
  padding-top: 24px;
  line-height: 24px;
  width: 760px;
  font-size: 15px;
}

.payments {
  background: linear-gradient(#ffffff 76px, #F5F9FE 76px 596px);
}
.payments .container {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.payments .container .text {
  height: 328px;
  width: 545px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.payments .container h1 {
  font-size: 46px;
  font-weight: 500;
  color: #000000;
}
.payments .container .wrapper_text {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  color: #6F767E;
}
.payments .container .btn {
  width: 148px;
  height: 56px;
  border-radius: 8px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

footer {
  width: 1230px;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 500;
}
footer .text {
  width: 186px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer_social {
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .social__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
}